
@font-face {
    font-family: SFProRegular;
    src: url('/admin/fonts/SFPro/SFProDisplayRegular.otf');
}

body{
    background-color: #E4E4E4;
}

.px-0{
    padding-left: 0;
    padding-right: 0;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.w-100{
    width: 100%;
}

#messageContainer {
    background-color: #6d76f0 !important;
    margin: auto;
    margin-top: 40px;
}

#messageRow {
    padding: 25px;
}
.chat-sction {
    height: 100vh;
    overflow: hidden;
}
.chat {
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: #979797 solid 1px;
    padding: 15px;
}
.meassage {
    height: 60px;
    background-color: #FFF;
}
#sendMessageForm {
    height: 100%;
    padding: 10px;
}
.form-group.message-input {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    height: 100%;
}
#new_message {
    padding: 0 15px;
    height: 100%;
    width: 100%;
    margin: auto;
}
.form-control {
    display: block;
    /*width: 88%;*/
    padding: 0px 8px;
    font-size: 14px;
    color: #555;
    background-color: #EEEEEE;
    border: 0 !important;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#new_message::-webkit-input-placeholder {
    color: #999;
}
.message-input .btn {
    color: #000000;
    background-color: transparent !important;
    border-color: transparent !important;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.container1 {
    /*border: none;*/
    /*border-radius: 24px;*/
    /*padding: 10px;*/
    /*margin: 10px 0;*/
    /*position: relative;*/
}

.container1 p {
    font-family: SFProRegular;
    font-size: 14px;
    letter-spacing: 0.8px;
    background-color: #FFF;
    display: inline-block;
    padding: 10px;
    position: relative;
    max-width: 50%;
    word-break: break-all;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    -webkit-pointer-events: none;

}
.container1 p:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
}
.container1::after {
    content: "";
    clear: both;
    display: table;
}

.container1 p img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.time{
    color: #aaa;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200px;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    -webkit-pointer-events: none;
}
.darker p .time{
    left: auto;
    right: 0;
    text-align: right;
}

.darker {
    text-align: right;
    border: none;
}

.replies p {
    border-top-left-radius: 0px;
    margin-top: 25px;
}
.darker p {
    position: relative;
    text-align: left;
    margin-top: 25px;
}
.container1.darker p:after{
    left: auto;
    right: -10px;
}

.img-wraper {
    position: relative;
    width: 50%;
    height: 27.838vh;
    padding: 5px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    /*overflow: hidden;*/
}
.img-wraper.left{
    margin-left: 0;
    margin-right: auto;
}
.img-wraper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-wraper.left,
.img-wraper.right{
    position: relative;
}
.img-wraper.left:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
}
.img-wraper.right:after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
}

.img-wraper .single-img{
    width: 100%;
    height: 100%;
}
.img-wraper .couple-img{
    width: 100%;
    height: 50%;
    padding: 2px;
}
.img-wraper .multi-img{
    width: 50%;
    height: 50%;
    padding: 2px;
}

#galleryModal.modal{
    padding: 35px;
}
#galleryModal .modal-dialog {
    height: 90vh;
}
#galleryModal .modal-dialog *{
    height: 100%;
}
#galleryModal .modal-dialog img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
#galleryModal .modal-content{
    background-color: transparent;
    border-radius: 0;
    border: 0;
}


@media (max-width: 480px) {

    .container1 p{
        max-width: 80%;
    }

}
