.main-header {
    -webkit-background-color: rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
}
.main-header .main-menu ul li > a {
    color: #ffffff;
}
.main-header .main-menu ul li > a::before{
    background: #ffffff;
}
.main-header.sticky {
    background: #f4feff;
}
.main-header.sticky .main-menu ul li > a {
    color: #171b36;
}
.main-header.sticky .main-menu ul li > a::before{
    background: #171b36;
}

/*---------------Category Slider Section----------------*/
.category-hero {
    position: relative;
    width: 100%;
    -webkit-height: 58vh;
    height: 58vh;
    /*margin-top: 103px;*/
}
.category-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.category-hero .img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-height: 15vh;
    height: 15vh;
    background: -webkit-linear-gradient(to top, #000, rgba(0,0,0,0.5), transparent);
    -webkit-background: linear-gradient(to top, #000, rgba(0,0,0,0.5), transparent);
    background: linear-gradient(to top, #000, rgba(0,0,0,0.5), transparent);
}
.category-hero .img-content h2{
    color: #FFF;
    text-align: center;
    margin-top: 5vh;
    font-size: 3vw;
    font-weight: bold;
}

/*---------------Choose Service Section----------------*/
.section-tittle h2{
    font-size: 40px;
    position: relative;
}
.section-tittle h2:after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 5px;
    background-color: #171b36;
    border-radius: 10px;
}
.available-app-area .section-tittle h2:after{
    display: none;
}
.service-card {
    background: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.service-card:hover{
    -webkit-box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
    box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
}
.service-card-content{
    padding: 15px;
}
.service-card .service-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    display: inline-block;
}

.service-card p{
    color: #707b8e;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}

/*---------------Service Info Section----------------*/
.service-info{
    margin-bottom: 50px;
}
.service-info:last-child{
    margin-bottom: 0;
}
.service-info i{
    width: 80px;
    height: 80px;
    color: #FFF;
    background-color: #171b36;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
}
.service-info .media-body{
    padding-left: 20px;
    padding-top: 10px;
}
.service-info p {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 18px;
}

.product-brand {
    padding: 15px;
    background-color: #FFF;
    height: 120px;
    border: 1px solid #171b36;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.product-brand img {
    width: auto !important;
    max-width: 100%;
    max-height: 100%;
}


/*-------------------------------
        Responsive view
-------------------------------*/
@media (max-width: 991px) {
    .main-header{
        padding: 0;
    }
    .main-header .main-header{
        padding: 11px 0;
    }
    .container{
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-tittle h2 {
        font-size: 30px;
    }
    .section-tittle h2:after{
        width: 55px;
        height: 3px;
    }
    .service-info i {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    .service-info .media-body {
        padding-left: 12px;
        padding-top: 0;
    }
    .service-info p {
        font-size: 16px;
        margin-top: 0;
        line-height: normal;
    }
    .category-hero{
        height: 40vh;
    }
    .category-hero .img-content{
        height: 10vh;
    }
    .category-hero .img-content h2 {
        margin-top: 20px;
        font-size: 24px;
    }

}







